<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpSnmpLib" publicKeyToken="4c00852d3788e005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.2.0" newVersion="10.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="Fabia_SNMPEntities" connectionString="metadata=res://*/DatabaseStampanti.csdl|res://*/DatabaseStampanti.ssdl|res://*/DatabaseStampanti.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AW-MSSQL\SQL2014;initial catalog=Fabia_SNMP;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SNMPEntities" connectionString="metadata=res://*/DBStampanti.csdl|res://*/DBStampanti.ssdl|res://*/DBStampanti.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AW-MSSQL\SQL2014;initial catalog=Fabia_SNMP;persist security info=True;user id=sa;password=RegolaNet!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/DBStampanti.csdl|res://*/DBStampanti.ssdl|res://*/DBStampanti.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1L3PE5L\SQLEXPRESSDELL;initial catalog=Fabia_SNMP;persist security info=True;user id=sa;password=RegolaNet!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>